html,
body {
  height: 100%;
}

:root {
  scrollbar-width: none;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e1ddddc7;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cecacac7;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3b3c46;
  border-radius: 7px;
}
